@charset "UTF-8";
input {
	/* 可去除边框 */
	outline: none;
	border-radius: 50px;
	background-color: lightgray;
	border: -webkit-link;
	font-weight: 700;
	width: 220px;
	height: 30px;
	/* 透明度 */
	opacity: 0.5;
	margin: 10px 0px;
	/* 改变光标颜色 */
	caret-color: lawngreen;
	cursor: pointer;
	text-align: center;
	font-size: 17px;
	FONT-FAMILY: FZShuTi;
}

input:focus {
	border-color: blue;
	box-shadow: 0 0 25px blue;
}

input::-webkit-input-placeholder {
	color: blue;
	text-align: center;
	font-weight: 800;
	letter-spacing: 3px;
	font-size: 14px;
	FONT-FAMILY: FZShuTi;
}

button {
	font-size: 17px;
	font-weight: 700;
	margin-left: 30px;
	margin-top: 20px;
	width: 60px;
	height: 30px;
	letter-spacing: 3px;
}

.inputLeft80 {
	font-size: 17px;
	font-weight: 700;
	margin-left: 70px;
	margin-right: 10px;
	letter-spacing: 3px;
}

.checkIn:hover {
	background-color: powderblue;
}

.inputLeft1 {
	font-size: 17px;
	font-weight: 700;
	margin-left: 28px;
	margin-right: 10px;
	letter-spacing: 3px;
	width: 50px;

}

.aLeft1 {
	font-size: 17px;
	margin-left: 70px;
	font-weight: 800;
}
a:hover
{
	text-decoration: underline;
}
